<a href="https://colab.research.google.com/github/EduardoMoraesRitter/machine-learning-algoritmos-nao-supervisionados/blob/master/1_modelo_nao_supervisionado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#fazer um sistema de recomendacao com filmes pelo generos

1.   pegar os dados
2.   conhecendo os dados
1.   mudar os nomes, columns = ['
2.   extrair os dados passando dados para coulunas binarias, get_dummies
1.   junto os dois dataframe, pd.concat([
2.   gerar um escala/nivel de genero sendo um filmes mais de comedia doque animaçao, StandardScaler
1.   agrupar os filmes usando Cluesteriracao, KMeans
2.   List item



o KMeans funciona, passa o numero de cluster, ele joga entao 3 pontos aleatorio chamado de centroids, calcula depois a distancia entre os 3 pontos, pega a metade do camilho e divide os dados dessa metade, recalcula a posição dos centroides os pontos para otimiza a a distancia dos dado realocando o centroides.

assim como redistribuir um hospital por regiao e bairro

- https://www.naftaliharris.com/blog/visualizing-k-means-clustering/
- https://filosophy.org/writing/visual-algorithms-k-means-clustering/

In [2]:
import pandas as pd

uri = 'https://raw.githubusercontent.com/EduardoMoraesRitter/machine-learning-algoritmos-nao-supervisionados/master/movies.csv'
filmes_df = pd.read_csv(uri)

filmes_df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [3]:
filmes_df.columns = ['filme_id', 'titulo', 'generos']
filmes_df.head()

   filme_id  ...                                      generos
0         1  ...  Adventure|Animation|Children|Comedy|Fantasy
1         2  ...                   Adventure|Children|Fantasy
2         3  ...                               Comedy|Romance
3         4  ...                         Comedy|Drama|Romance
4         5  ...                                       Comedy

[5 rows x 3 columns]

In [6]:
type(filmes_df)

pandas.core.frame.DataFrame

In [5]:
type(filmes_df.generos)

pandas.core.series.Series

In [10]:
filmes_df.generos.str

In [7]:
filmes_df.generos

0       Adventure|Animation|Children|Comedy|Fantasy
1                        Adventure|Children|Fantasy
2                                    Comedy|Romance
3                              Comedy|Drama|Romance
4                                            Comedy
                           ...
9737                Action|Animation|Comedy|Fantasy
9738                       Animation|Comedy|Fantasy
9739                                          Drama
9740                               Action|Animation
9741                                         Comedy
Name: generos, Length: 9742, dtype: object

In [9]:
filmes_df.generos.str.get_dummies()

      (no genres listed)  Action  Adventure  ...  Thriller  War  Western
0                      0       0          1  ...         0    0        0
1                      0       0          1  ...         0    0        0
2                      0       0          0  ...         0    0        0
3                      0       0          0  ...         0    0        0
4                      0       0          0  ...         0    0        0
...                  ...     ...        ...  ...       ...  ...      ...
9737                   0       1          0  ...         0    0        0
9738                   0       0          0  ...         0    0        0
9739                   0       0          0  ...         0    0        0
9740                   0       1          0  ...         0    0        0
9741                   0       0          0  ...         0    0        0

[9742 rows x 20 columns]

In [11]:
generos_df = filmes_df.generos.str.get_dummies()
#axis eixo de concatenacao
dados_filmes_df = pd.concat([filmes_df, generos_df], axis=1)
dados_filmes_df.head()

   filme_id                              titulo  ... War  Western
0         1                    Toy Story (1995)  ...   0        0
1         2                      Jumanji (1995)  ...   0        0
2         3             Grumpier Old Men (1995)  ...   0        0
3         4            Waiting to Exhale (1995)  ...   0        0
4         5  Father of the Bride Part II (1995)  ...   0        0

[5 rows x 23 columns]

In [17]:
#para escalar os dados usar a biblioteca de escalamento
from sklearn.preprocessing import StandardScaler

#treina o escalamneto
scaler = StandardScaler()
generos_escalados_ndarray = scaler.fit_transform(generos_df)

generos_escalados_ndarray

array([[-0.05917995, -0.48060698,  2.59101927, ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698,  2.59101927, ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       ...,
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995,  2.0807022 , -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534]])

In [18]:
#agrupar os filmes usando Cluesteriracao - KMeans
from sklearn.cluster import KMeans

#criar um modele, passando o numero de grupos n_clusters
modelo = KMeans(n_clusters = 3)
modelo.fit(generos_escalados_ndarray)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [19]:
#imprimir os grupos, pegar os rotulos com labels
print('grupos {}'.format(modelo.labels_))

grupos [2 2 0 ... 0 2 0]

In [20]:
#o f é o format
print(f'grupos {modelo.labels_}')

grupos [2 2 0 ... 0 2 0]

In [23]:
print(generos_df.columns)
#centro de cada grupo
print(modelo.cluster_centers_)

Index(['(no genres listed)', 'Action', 'Adventure', 'Animation', 'Children',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller',
       'War', 'Western'],
      dtype='object')
[[ 0.02703675 -0.17112024 -0.32228671 -0.24202584 -0.19509114  0.11516991
   0.04733858  0.09504079  0.21099031 -0.20328704  0.00203845 -0.3340552
  -0.11774198 -0.00514541 -0.24617281  0.13191644 -0.23848157 -0.14437039
   0.04914857  0.01194683]
 [-0.05917995 -0.13538705 -0.32123181 -0.22879168 -0.24744847 -0.44821229
   0.07313356 -0.20353172 -0.31296086 -0.03833499  0.08993504  1.95425364
  -0.07102942 -0.14461232  1.41005728 -0.29187867  0.32083976  0.84174344
  -0.18335294 -0.07065604]
 [-0.05917995  0.79469562  1.55130217  1.15472196  0.98271839 -0.09051239
  -0.24924022 -0.21173969 -0.58448133  0.84315388 -0.0822337  -0.2764435
   0.52857387  0.13968498 -0.17893817 -0.28616875  0.68774171 -0.11713502
  -0.04515189  0.01051754]]

In [24]:
#transformar em dataframe
pd.DataFrame(modelo.cluster_centers, columns=generos_df.columns)

AttributeError: ignored